:root {
  font: 15px/1.5 system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

html.dark {
  color-scheme: dark;
}
